html{
  width: 100vw;
  height: 100vh;
}

body{
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

main{
  margin: 50px 300px;
}

.date, .message{
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
}

.location{
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
}

.temperature{
  font-size: 100px;
  letter-spacing: -10px;
  margin: 0;
}

.degree{
  letter-spacing: 1px;
}

.description{
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}

.weather{
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.rain{
  animation: raindrop 0.5s linear infinite;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.25)
    );
  height: 100px;
  position: absolute;
  top: -150px;
  width: 1px;
}

@keyframes raindrop{
  0%{
    transform: translateY(0vh);
  }
  75%{
    transform: translateY(80vh);
  }
  100%{
    transform: translateY(100vh);
  }
}

.snow{
  animation: snowfall 5s linear infinite;
  background: #fff;
  border-radius: 50%;
  filter: blur(1px);
  height: 10px;
  opacity: 0.8;
  position: absolute;
  top: -20px;
  width: 10px;
}

@keyframes snowfall{
  0%{
    transform: translateY(0vh);
  }
  60%{
    transform: translateY(60vh);
  }
  100%{
    transform: translateY(100vh);
  }
}

.sun{
  position: absolute;
  background: radial-gradient(
    #fff5bc 0%,
    rgba(255, 250, 210, 0.45) 35%,
    rgba(255, 255, 255, 0.13) 60%,
    rgba(255, 255, 255, 0) 70%
  );
  border-radius: 50%;
  height: 800px;
  right: 0;
  top: -500px;
  width: 800px;
}

.sunlight{
  animation: sunglare 5s alternate infinite ease-in-out;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  height: 0px;
  margin: 0;
  position: absolute;
  right: 200px;
  top: 10px;
  width: 0px;
}

@keyframes sunglare{
  0%{
    right: 25%;
  }
  100%{
    right: 35%;
  }
}

.sunring{
  animation: sunglare 5s alternate infinite ease-in-out;
  border-radius: 50%;
  box-shadow: inset 0px 0px 100px 2px rgba(200, 230, 200, 0.125), 0px 0px 13px 2px rgba(200, 230, 200, 0.125);
  height: 500px;
  margin: -100px 0 0 -100px;
  position: absolute;
  right: 200px;
  top: 10px;
  width: 500px;
}

.cloud{
  will-change: filter, transform;
  animation-fill-mode: backwards;
  background-color: rgba(255, 255, 255, 0.06);
  border-radius: 50%;
  filter: blur(30px);
  position: absolute;
}

.cloudset-one{
  animation: clouddriftone 10s alternate infinite ease;
}

@keyframes clouddriftone{
  0%{
    transform: translateX(90%);
  }
  100%{
    transform: translateY(-40%);
  }
}

.cloudset-two{
  animation: clouddrifttwo 7s alternate infinite ease;
}

@keyframes clouddrifttwo{
  0%{
    transform: translateY(-20%);
  }
  100%{
    transform: translateX(40%);
  }
}

.cloudset-three{
  animation: clouddriftthree 8s alternate infinite ease;
}

@keyframes clouddrifttwo{
  0%{
    transform: translateY(100%);
  }
  100%{
    transform: translateX(-20%);
  }
}

.covered-sun{
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  height: 0px;
  margin: 0;
  position: absolute;
  right: 300px;
  top: 100px;
  width: 0px;
}

.lightning{
  animation: flash 5s alternate infinite ease-in-out;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0px 0px 30px 10px #e6e6c8, 0px 0px 10px 5px white;
  height: 0px;
  margin: 0;
  position: absolute;
  right: 200px;
  top: 10px;
  width: 0px;
}

@keyframes flash{
  0%{
    //dim
  }
  25%{
    //flash
  }
  50%{
    //dim
  }
  75%{
    //flash
  }
  100%{
    //dim
  }
}

@media (max-width: 992px){
  main{
    margin: 0;
  }
  .date, .location, .message{
    font-size: 30px;
  }
  
  .temperature{
    font-size: 200px;
  }
  
  .description{
    font-size: 60px;
  }
}