.date, .message{
  color: #616167;
  margin: 0;
}

.location{
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
}

.temperature{
  font-size: 100px;
  letter-spacing: -10px;
  margin: 0;
}

.degree{
  letter-spacing: 1px;
}

.description{
  font-size: 40px;
  letter-spacing: 1px;
  margin: 0;
  text-transform: capitalize;
}