html{
  width: 100vw;
  height: 100vh;
}

body{
  background: #333339;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
}

.container{
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

main{
  margin: 50px 300px;
}

@media (max-width: 991px) {
  main{
    margin: 50px 80px;
  }
}